/* estilos gerais da aplicação */

* {
  box-sizing: border-box;
  --cor-fundo: #E5E5E5;
  --cor-fundo-card: #FFFFD4;
  --cor-nao-lembrei: #FF3030;
  --cor-quase-nao-lembrei: #FF922E;
  --cor-zap: #2FBE34;
  --preto: #333333;
}

body {
  background-color: var(--cor-fundo);
}

